:root {
  --black: #212121;
  --dark-gray: #333131;
  --gray: #9e9e9e;
  --green: #008000;
  --light: #f2f2f2;
  --medium-gray: #8e8c8c;
  --red: #ff0000;
  --steel-gray: #979292;
  --white: #ffffff;
}
